/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: #F5F5F0;
  color: #3B3B3B;
  font: 13.34px lucida-console, helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: 'Courier New','Lucida Console', 'helvetica', 'arial', 'clean', 'sans-serif';
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 48em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

  .site .footer .contact {
    float: left;
    margin-right: 3em;
  }

  .site .footer .contact a {
    color: #8085C1;
  }

  .site .footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
  }

  .site .footer .rss img {
    border: 0;
  }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    color: 000;
    background-color: white;
    box-shadow: rgb(119, 119, 119) 1px 1px 1px 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    font-size: 15px;
    font-family: 'Courier New','Lucida Console', 'helvetica', 'arial', 'clean', 'sans-serif';
    line-height: normal;
    margin: 2px 0 2px 0;
  }

  #post .figure {
    color: 000;
    background-color: white;
    box-shadow: rgb(119, 119, 119) 1px 1px 1px 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    margin: 0 0 15px 0;
  }

  #post img {
    max-width:100%;
  }

  #post ul,
  #post ol {
    margin-left: 1.15em;
  }

  #post code {
    border: 1px solid #ddd;
    font-size: 15px;
    font-family: 'Courier New','Lucida Console', 'helvetica', 'arial', 'clean', 'sans-serif';
    line-height: normal;
    padding: 0 .2em;
  }

  #post pre code {
    border: none;
  }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    /*background-color: #333;*/
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

  #post .MathJax_Display {
    color:#004697;
  }

  #post h1 {
    color:black;
    font-size:150%;
  }

  #post h2 {
    color:#004687;
    border-bottom: 1px solid #CCC;
    font-size:115%;
  }

  #post h3 {
    color:#b81d18;
    font-size:105%;
  }

  #related {
    margin-top: 2em;
  }

  #related h2 {
    margin-bottom: 1em;
  }
