/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  /*background: #F5F5F0;*/
  font-size:15px;
  font-family: 'Courier', 'Lucida Console', 'helvetica', 'arial', 'clean', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: 'Courier','Lucida Console', 'helvetica', 'arial', 'clean', 'sans-serif';
}

blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}

/*override tocify.css*/
.tocify {
  text-align:left;
  border:none;
  padding-top:12px;
}

.tocify-header {
  text-indent:0px;
}

.tocify ul, .tocify li {
  line-height: 70%;
}

.tocify a{
  color: darkgray;
  font-size: 100%;
}

/*highlighted toc item*/
.active a{
  color: purple;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts a {
  color: darkgray;
}
ul.posts a:hover {
  color: #a00;
}

ul.posts span {
  color: #aaa;
  font-family: 'Courier', 'Monaco', 'monospace';
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
  margin-top:4em;
}

#site .title a {
  color: #a00;
  text-decoration: none;
}

#site .title a:hover {
  color: black;
}

#site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}

#site .title a.extra:hover {
  color: black;
}

#site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

#site .footer .contact {
  float: left;
  margin-right: 3em;
}

#site .footer .contact a {
  color: #8085C1;
}

#site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

#site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  /*box-shadow: rgb(119, 119, 119) 1px 1px 1px 1px;*/
  border-style: solid;
  border-width: 1px;
  border-color: #aaaaaa;
  font-family: 'Courier','Lucida Console', 'helvetica', 'arial', 'clean', 'sans-serif';
  line-height: normal;
  margin: 2px 0 2px 0;
}

#post .figure {
  color: 000;
  background-color: white;
  /*box-shadow: rgb(119, 119, 119) 1px 1px 1px 1px;*/
  border-style: solid;
  border-width: 1px;
  border-color: #aaaaaa;
  margin: 0 0 15px 0;
}

#post img {
  max-width:100%;
}

#post ul, #post ol {
  margin-left: 1.15em;
}

#post code {
  border: 1px solid #ddd;
  font-size: 15px;
  font-family: 'Courier','Lucida Console', 'helvetica', 'arial', 'clean', 'sans-serif';
  line-height: normal;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post h1 {
  color:black;
  font-weight: bold;
  font-size:130%;
}

#post h2 {
  color:black;
  font-weight: bold;
  font-size:120%;
}

#post h3 {
  color:black;
  font-weight: bold;
  font-size:105%;
}

#related {
  margin-top: 2em;
}

#related h2 {
  margin-bottom: 1em;
}

